{% extends "layout.html" %}

{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
    <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} shadow-lg" 
         role="alert" 
         style="border: 4px solid; border-radius: 5px; font-size: 1.4rem; font-weight: 900;">
        
        <div class="py-2 text-center">
            {{ message }}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% block title %} Metro Ticketing System {% endblock %}

{% block content %}
<br>
<form method='post'>
    {% csrf_token %}
    <div class="alert alert-info" role="alert">
        Please use a unique email address. 
    </div>
    {{form.as_p}}
    <button class = 'btn btn-primary'>Register</button>
</form>
<br>
<h6>Already have an account? <a href="{% url "login" %}">Login here</a></h4>
{% endblock %}