{% extends "layout.html" %}

{% block title %} Metro Ticketing System {% endblock %}

{% block content %}
<style>h1 {text-align: center;}</style>
<br>

{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
    <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} shadow-lg" 
         role="alert" 
         style="border: 4px solid; border-radius: 5px; font-size: 1.4rem; font-weight: 900;">
        
        <div class="py-2 text-center">
            {{ message }}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title">Your current balance</h4>
    <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
    <p class="card-text">{{user.balance}}</p>
    <a href="{% url "add_money" %}" class="card-link">Add money</a>
  </div>
</div>

<h1>Your Tickets</h1>

<a class="btn btn-primary mb-4 mt-4" href="{% url 'ticket_create' %}">Create a ticket</a>

<div class="container row gap-3">

    {# --- 1. IN USE TICKETS (Top Priority) --- #}
    {% for ticket in tickets %}
    {% if ticket.user == request.user and ticket.status == 'IN_USE' %}
        <div class="card" style="width: 22rem;">
            <div class="card-body">
                <h5 class="card-title"> Ticket ID {{ticket.uid}} </h5>
                <p class="card-text">From: {{ticket.start_station}} <br> To: {{ticket.end_station}} <br> Price: {{ticket.price}} <br> Created at: {{ticket.created_at}}<br></p>
                
                <p class="card-text">
                    <span class="bold-text">Status: <span style="color: orange;">In Use</span></span>
                    {% if ticket.scan_in%}
                        <br>Scanned In at: {{ticket.scan_in}}
                    {% endif %}
                    {% if ticket.scan_out%}
                        <br>Scanned Out at: {{ticket.scan_out}}
                    {% endif %}
                </p>     
            </div>
        </div>
    {% endif %}
    {% endfor %}

    {# --- 2. ACTIVE TICKETS --- #}
    {% for ticket in tickets %}
    {% if ticket.user == request.user and ticket.status == 'ACTIVE' %}
        <div class="card" style="width: 22rem;">
            <div class="card-body">
                <h5 class="card-title"> Ticket ID {{ticket.uid}} </h5>
                <p class="card-text">From: {{ticket.start_station}} <br> To: {{ticket.end_station}} <br> Price: {{ticket.price}} <br> Created at: {{ticket.created_at}}<br></p>
                
                <p class="card-text">
                    <span class="bold-text">Status: <span style="color: green;">Active</span></span>
                    {% if ticket.scan_in%}
                        <br>Scanned In at: {{ticket.scan_in}}
                    {% endif %}
                    {% if ticket.scan_out%}
                        <br>Scanned Out at: {{ticket.scan_out}}
                    {% endif %}
                </p>

                <a href="{% url "ticket_cancel" ticket.id %}" class="btn btn-danger">Cancel ticket</a>
            </div>
        </div>
    {% endif %}
    {% endfor %}

    {# --- 3. USED TICKETS --- #}
    {% for ticket in tickets %}
    {% if ticket.user == request.user and ticket.status == 'USED' %}
        <div class="card" style="width: 22rem;">
            <div class="card-body">
                <h5 class="card-title"> Ticket ID {{ticket.uid}} </h5>
                <p class="card-text">From: {{ticket.start_station}} <br> To: {{ticket.end_station}} <br> Price: {{ticket.price}} <br> Created at: {{ticket.created_at}}<br></p>
                
                <p class="card-text">
                    <span class="bold-text">Status: <span style="color: red;">Used</span></span>
                    {% if ticket.scan_in%}
                        <br>Scanned In at: {{ticket.scan_in}}
                    {% endif %}
                    {% if ticket.scan_out%}
                        <br>Scanned Out at: {{ticket.scan_out}}
                    {% endif %}
                </p>       
            </div>
        </div>
    {% endif %}
    {% endfor %}

    {# --- 4. EXPIRED / OTHER TICKETS --- #}
    {% for ticket in tickets %}
    {% if ticket.user == request.user and ticket.status != 'IN_USE' and ticket.status != 'ACTIVE' and ticket.status != 'USED' %}
        <div class="card" style="width: 22rem;">
            <div class="card-body">
                <h5 class="card-title"> Ticket ID {{ticket.uid}} </h5>
                <p class="card-text">From: {{ticket.start_station}} <br> To: {{ticket.end_station}} <br> Price: {{ticket.price}} <br> Created at: {{ticket.created_at}}<br></p>
                
                <p class="card-text">
                    <span class="bold-text">Status: <span style="color: gray;">Expired</span></span>
                    {% if ticket.scan_in%}
                        <br>Scanned In at: {{ticket.scan_in}}
                    {% endif %}
                    {% if ticket.scan_out%}
                        <br>Scanned Out at: {{ticket.scan_out}}
                    {% endif %}
                </p>      
            </div>
        </div>
    {% endif %}
    {% endfor %}

    {% for ticket in tickets %}
    {% if ticket.user == request.user and ticket.status == 'CANCELLED' %}
        <div class="card" style="width: 22rem;">
            <div class="card-body">
                <h5 class="card-title"> Ticket ID {{ticket.uid}} </h5>
                <p class="card-text">From: {{ticket.start_station}} <br> To: {{ticket.end_station}} <br> Price: {{ticket.price}} <br> Created at: {{ticket.created_at}}<br></p>
                
                <p class="card-text">
                    <span class="bold-text">Status: <span style="color: red;">Cancelled</span></span>
                    {% if ticket.scan_in%}
                        <br>Scanned In at: {{ticket.scan_in}}
                    {% endif %}
                    {% if ticket.scan_out%}
                        <br>Scanned Out at: {{ticket.scan_out}}
                    {% endif %}
                </p>     
            </div>
        </div>
    {% endif %}
    {% endfor %}

</div>

{% endblock %}