{% extends "layout.html" %}

{% block title %} Metro Ticketing System {% endblock %}

{% block content %}
<style>h1 {text-align: center;}</style>
<br>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title">Your current balance</h4>
    <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
    <p class="card-text">{{user.balance}}</p>
    <a href="{% url "add_money" %}" class="card-link">Add money</a>
  </div>
</div>

<h1>Your Tickets</h1>

<a class="btn btn-primary mb-4 mt-4" href="{% url 'ticket_create' %}">Create a ticket</a>

<div class="container row gap-3">
    {% for ticket in tickets %}
        <div class="card" style="width: 24rem;">
        <div class="card-body">
            <h5 class="card-title"> Ticket ID {{ticket.id}} </h5>
            <p class="card-text">From: {{ticket.start_station}} <br> To: {{ticket.end_station}} <br> Price: {{ticket.price}} <br> Created at: {{ticket.created_at}}<br></p>
            <a href="{% url "ticket_cancel" ticket.id %}" class="btn btn-danger">Cancel ticket</a>
        </div>
</div>
    {% endfor %}
</div>

{% endblock %}